@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes softPulse {
    0%, 100% {
      filter: brightness(100%);
    }
    50% {
      filter: brightness(105%);
    }
  }

  .pulse-bg {
    animation: softPulse 6s ease-in-out infinite;
  }
}

body {
  @apply pulse-bg;
}

